<footer>
    <p>
      © 2025 My Recipe Collection | Connect with me on 
      <!-- This will link to my LinkedIn profile. The logo is stored in the images folder. -->
      <a href="https://www.linkedin.com/in/lindsay-trenton-370102351/" target="_blank"><img src="/images/LI-logo.png" alt="LinkedIn" class="linkedin-icon"></a>
    </p>
</footer>
  