<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- This will set the viewport to the width of the device and set the initial scale to 1.0. 
     meaning the page will be displayed at 100% zoom. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Homepage</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <!-- This will include the header, which contains the title and navigation bar. -->
    <%- include("header")-%>
    <main>
        <h2>Welcome to My Recipe Collection</h2>
        <p>Here you will find a collection of recipes that I have created over the years. 
           Click on a recipe title to view the details.</p>
        <h3>Recipes</h3>
        <ul>
            <!-- This will display a list of recipe titles. -->
            <% recipes.forEach((recipe, index) => { %>
                <li>
                    <!-- This will create a link to the recipe page for each recipe title. -->
                    <a href="/recipe<%= index + 1 %>"><%= recipe.title %></a>
                </li>
            <% }); %>
        </ul>
    </main>
    <!-- This will include the footer, which contains the copyright information. -->
    <%- include("footer") -%>
</body>
</html>